# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
*.swo

# Kubernetes / secretos
*.kubeconfig
kubeconfig
*-kubeconfig.yaml
secrets/
*.secret.yaml

# Temporales
*.log
*.tmp
tmp/
